@charset "UTF-8";
h1{
    text-align: center;
}
h3{
    text-align: center;
}
body{
    background-color:lavender;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    }