@charset "UTF-8";
h1{
    text-align: center; color: blueviolet;
}
h3{
    text-align: center;
}
body{
    background-color:lavender;
}
img{
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    }
a{
    background-color: blueviolet;
    display: block;
    margin: auto;
    }
p{
    text-align: center;
    }

